extends base

block content 
    .container 
        img.logo(src="./assets/logo.png", alt="")
        h1.title Find your 
            span Github-profile
        form.textbox(action="/user/" method='GET')   
            .input-box 
                input(type="text" placeholder="Type to Search" name="username")
            button  
                i.fa.fa-search.search-bar.fa-lg(30% increase)