extends base

block content  
    .queries-left 
        p.num-of-queries
        if requestlimit === 0
            |0 /60
        else
            =`${requestlimit}/60`
        p.des Request Left
    .home 
        .container 
            img.logo(src="./assets/logo.png", alt="")
            h1.title Find your 
                span Github-profile
            form.textbox(action="/user/" method='GET')   
                .input-box 
                    input(type="text" placeholder="Type to Search" name="username" required)  
                    i.fa.fa-search.search-bar.fa-lg(30% increase)