extends base

block content

  section 
    .profile 
      img.profile-img(src=`${user.AvatarURL}` alt="")
      h1.name=user.name
      .profile-description 
        a(href=`${user.}`)= `@${user.login}`
        p.joined-at 
          span Joined 01-23-2023 
           i.fa.fa-calendar 
    .account-details 
      .repo 
        p 4
        h2 Repositories 
      .repo 
        p 23
        h2 Followers 
      .repo 
        p 4
        h2 Folowing
    .my-repos 
      h1.title My Repositories 
      .repo-wrapper 
        .repo-container 
          .repo-name 
            i.fa.fa-github.fa-lg(30% increase)
            p Tip-calculator
          p.repo-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciuntperferendis fugiat deleniti facilis, nisi similique, veniam velitest molestias tempora hic consectetur aliquam quasi libero.
          .extras 
            .stars 
              i.fa.fa-stars 
              p.num-stars 4
            p.size-repo 5123 
              span kb
        .repo-container 
          .repo-name 
            i.fa.fa-github.fa-lg(30% increase)
            p Tip-calculator
          p.repo-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciuntperferendis fugiat deleniti facilis, nisi similique, veniam velitest molestias tempora hic consectetur aliquam quasi libero.
          .extras 
            .stars 
              i.fa.fa-stars 
              p.num-stars 4
            p.size-repo 5123 
              span kb
        .repo-container 
          .repo-name 
            i.fa.fa-github.fa-lg(30% increase)
            p Tip-calculator
          p.repo-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciuntperferendis fugiat deleniti facilis, nisi similique, veniam velitest molestias tempora hic consectetur aliquam quasi libero.
          .extras 
            .stars 
              i.fa.fa-stars 
              p.num-stars 4
            p.size-repo 5123 
              span kb
        .repo-container 
          .repo-name 
            i.fa.fa-github.fa-lg(30% increase)
            p Tip-calculator
          p.repo-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciuntperferendis fugiat deleniti facilis, nisi similique, veniam velitest molestias tempora hic consectetur aliquam quasi libero.
          .extras 
            .stars 
              i.fa.fa-stars 
              p.num-stars 4
            p.size-repo 5123 
              span kb